@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Poppins:wght@300;400;500&display=swap");

/*===== VARIÁVEIS ROOT =====*/
:root {
  --color-primary: #7380ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;

  --card-border-radius: 1rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-2: 1.2rem;

  --card-padding: 1.8rem;
  --box-shadow: 0 2rem 3rem var(--color-light);
}

/*================== VARIÁVEIS TEMA ESCURO =====================*/
.tema-escuro {
  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 0.88rem;
  background: var(--color-background);
  user-select: none;
  overflow-x: hidden;
}

a {
  color: var(--color-dark);
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.1rem;
}

h3 {
  font-size: 0.87rem;
}

.primary {
  color: var(--color-primary);
}

.danger {
  color: var(--color-danger);
}

.success {
  color: var(--color-success);
}

.warning {
  color: var(--color-warning);
}

.container {
  display: flex;
}

aside {
  height: 100vh;
  background: var(--color-info-light);
  margin-top: 1rem;
  padding-right: 2rem;
}

aside .logo {
  display: flex;
  gap: 0.8rem;
}

aside .logo img {
  height: 2rem;
  width: 1.5rem;
}

aside .sidebar {
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
  top: 3rem;
}

aside h2 {
  font-size: 1.4rem;
  margin-left: 1.1rem;
}

aside h3 {
  font-weight: 500;
}

aside .sidebar a {
  display: flex;
  color: var(--color-info-dark);
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3.7rem;
  transition: all 300ms ease;
}

aside .sidebar a span {
  font-size: 1.16rem;
  transition: all 300ms ease;
}

aside .sidebar a:last-child {
  position: absolute;
  bottom: 2rem;
  width: 100%;
}

aside .sidebar a.ativo {
  background: var(--color-light);
  color: var(--color-primary);
  margin-left: 0;
}

aside .sidebar a.ativo:before {
  content: "";
  width: 6px;
  height: 100%;
  background: var(--color-primary);
}

aside .sidebar a.ativo span {
  color: var(--color-primary);
  margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
  color: var(--color-primary);
}

aside .sidebar a:hover span {
  margin-left: 1rem;
}

/*==========ÁREA CENTRAL===========*/

main table tbody tr:hover {
  background: var(--color-info-light);
  cursor: pointer;
}

/*=========== OPORTUNIDADES ===========*/

main {
  margin-top: 1rem;
  margin-inline: 3rem;
}

main table {
  border-collapse: collapse;
  margin-top: 1rem;
}

main .oportunidades {
  margin-bottom: 0.8rem;
}

.oportunidades h2 {
  margin-top: 1rem;
}

main .oportunidades table tr td div.botao,
main .oportunidades table tr td div.lida {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
}

main .oportunidades table tr div.lida {
  height: 2rem;
  width: 4rem;
  background: green;
  color: var(--color-white);
  opacity: 0.9;
}

main .oportunidades table tr div.botaoSalvar {
  height: 3rem;
  width: 6rem;
  font-size: 1rem;
  background: var(--color-white);
  color: var(--color-white);
  opacity: 0.9;
}

main .oportunidades table {
  background: var(--color-white);
  width: 100%;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

main .oportunidades table:hover {
  box-shadow: none;
}

main table tbody td {
  height: 2.8rem;
  border-bottom: 1px solid var(--color-light);
  color: var(--color-dark-variant);
  padding: 1rem;
}

main table tbody tr .salvar td {
  border: none;
}

main table tbody tr td:first-child {
  display: none;
}

main .oportunidades a {
  text-align: center;
  display: block;
  margin: 1rem auto;
}

/* =============== MEDIA QUERIES =================== */
@media screen and (max-width: 900px) {
  aside .logo h2 {
    display: none;
  }

  aside .sidebar h3 {
    display: none;
  }

  aside .sidebar a {
    width: 5.6rem;
  }

  aside .sidebar a:last-child {
    position: relative;
    margin-top: 1.8rem;
  }

  main table thead tr th:nth-child(3) {
    display: none;
  }

  main table tbody tr td:nth-child(4) {
    display: none;
  }
}

/* =============== MEDIA QUERIES =================== */

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
  }

  aside {
    position: fixed;
    left: -100%;
    background: var(--color-white);
    width: 18rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem var(--color-light);
    height: 100vh;
    padding-right: var(--card-padding);
    display: none;
  }

  aside .logo {
    margin-left: 1rem;
  }

  aside .logo h2 {
    display: inline;
  }

  aside .sidebar h3 {
    display: inline;
  }

  aside .sidebar a {
    width: 100%;
    height: 3.4rem;
  }

  aside .sidebar a:last-child {
    position: absolute;
    bottom: 5rem;
  }

  aside .fechar {
    display: inline-block;
    cursor: pointer;
  }

  main {
    margin-top: 8rem;
    padding: 0 1rem;
  }

  main .oportunidades {
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
  }

  main .oportunidades table {
    width: 100%;
    margin: 0;
  }

  .direita {
    width: 94%;
    margin: 0 auto 4rem;
  }
}
